@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
  font-weight: 700;
}

:root{
  --color-primary: #C4F82A;
  --color-white: #FFFFFF;
  --color-grey: #333333;
  --color-dark-grey: #1F1F1F;
  --color-black: #141414;
  --font-size-heading: 1.5rem;
  --font-size-body: 0.875rem;

}

body {
  background-color: var(--color-black);
  font-size: var(--font-size-body);
  font-family: 'Inter';
  font-weight: 400;
  color: var(--color-white);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  line-height: 150%;
}

.card {
  box-sizing: border-box;
  background-color: var(--color-dark-grey);
  padding: 1.5rem;
  width: 327px;
  min-height: 579px;
  border-radius: 12px;
  text-align: center;
}

.card-avatar {
  width: 88px;
  height: 88px;
  margin: 0 auto 1.5rem;
}

.card-avatar img {
  width: 100%;
  border-radius: 50%;
}

.card-title {
  
  margin-bottom: 1.5rem;
}

.card-title h2 {
  font-size: var(--font-size-heading);
  margin: 0 0 0.25rem;
  font-weight: 600;
  padding: 7.5px 0;
}

.card-title p {
  color: var(--color-primary);
  margin: 0;
  font-weight: 700;
}

.card-info {
  margin-bottom: 1.5rem;
}

.card-info p {
  margin: 0;

}

.card-links a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  background-color: var(--color-grey);
  margin-bottom: 1rem;
  padding: 12px 0;
  border-radius: 8px;
}

.card-links a:hover {
  background-color: var(--color-primary);
  color: var(--color-grey);
}

.card-links a:last-child{
  margin: 0;
}


.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 1px;
}

.attribution a {
  color: var(--color-primary);
}

@media (min-width: 992px) {
  .card {
    min-height: 611px;
    padding: 2.5rem;
  }
}