@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
  font-weight: 700;
}

:root{
  --color-primary: #C4F82A;
  --color-white: #FFFFFF;
  --color-grey: #333333;
  --color-dark-grey: #1F1F1F;
  --color-black: #141414;
  --font-size-heading: 1.5rem;
  --font-size-body: 0.875rem;

}

body {
  background-color: var(--color-black);
  font-size: var(--font-size-body);
  font-family: 'Inter';
  font-weight: 400;
  color: var(--color-white);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  box-sizing: border-box;
  background-color: var(--color-dark-grey);
  padding: 1.5rem;
  width: 327px;
  min-height: 579px;
  border-radius: 12px;
}

.card-avatar {
  width: 88px;
  height: 88px;
  margin: 0 auto 1.5rem;
}

.card-avatar img {
  width: 100%;
  border-radius: 50%;
}


.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 1px;
}

.attribution a {
  color: var(--color-primary);
}